---
import type {SerializedEditorState} from "lexical";
import {convertLexicalToHTML} from '@payloadcms/richtext-lexical/html'
import {postToPublishDate, getPostsWithTags} from "@lib/postUtils";
import {getMainImage, getThubmnailAndAuthorImages} from "@lib/mediaUtils";
import Layout from '@layouts/Layout.astro';
import {Post, Tag} from "@root/payload-types";
import MediaImage from "../components/MediaImage.astro";
import {postToPath} from "../lib/postUtils";


const generateHTML = (data: SerializedEditorState) => {
    //ToDo: pull out image data
    data.root.children.forEach((node) => {
        if (node.type === 'upload') {

        }
    })
    return convertLexicalToHTML({data, disableContainer: true})
};


interface Props {
    post: Post
}
const {post} = Astro.props;
const postTags: string[] = post.tags?.map((t: Tag | number) => t.slug).filter((t: string | undefined) => !!t) || [];
const relatedPosts = await getPostsWithTags(postTags, 6)

const {imagesByAuthorId, imagesByPostId} = await getThubmnailAndAuthorImages([post, ...relatedPosts])
const headerImage = await getMainImage(post)
---

<Layout>
  <div class="px-0 lg:pl-6 py-48 big-bounded bg-cover bg-center flex justify-center md:justify-start"
       style={{backgroundImage: `url(${headerImage.src})`}}>
    <div class="bg-white max-w-7/8 md:max-w-2/3 lg:max-w-1/2 p-12">
      <a href="/interviews" class="bg-black text-white uppercase bold open-sans px-2.5 py-1.5 text-sm">Interviews</a>
      <h1 class="mt-1">{post.title}</h1>
        {post.author &&
            <p class="text-xs mt-1 font-bold text-gray-400">
              <MediaImage class="inline-block rounded-full mr-1"
                          image={imagesByAuthorId.get(post.author.id)?.image}
                          style={{width: '30px', height: '30px'}}/>
              By <span class="text-black">{post.author?.name}</span> {postToPublishDate(post)} </p>}
    </div>
  </div>
  <div class="px-10 mt-16 bounded grid grid-cols-10 items-start">
    <div class="col-span-10 md:col-span-7">
      <div class="text-center">
        <MediaImage class="inline-block rounded-full"
                    image={imagesByAuthorId.get(post.author.id)?.image}
                    style={{width: '196px', height: '196px'}}/>
        <h5 class="uppercase mt-4">{post.author.name}</h5>
        <div class="content mt-4" set:html={generateHTML(post.author.bio)}></div>
      </div>

      <div class="px-10 mt-12 bounded">
          {post.subcontent &&
              <div class="content" set:html={generateHTML(post.subcontent)}></div>}
      </div>
    </div>
    <div class="col-span-10 md:col-span-3">
      <h5 class="mb-8"><span class="bg-black text-white px-3 py-2 uppercase">Related Posts</span></h5>
      <div class="grid grid-cols-2 gap-4">
          {relatedPosts.map(post => (<a href={postToPath(post)} class="flex flex-col">
            <MediaImage class="block"
                        image={imagesByPostId.get(post.id)?.image}
            />
            <h5>{post.title}</h5>
          </a>))}
      </div>
    </div>

  </div>
</Layout>
