---
import Layout from '../layouts/Layout.astro';
import {imagePathToUrl} from "@lib/mediaUtils";
import {getPosts, postToPath} from "@lib/postUtils";
import type {Post} from "../../payload-types";
import MediaImage from "../components/MediaImage.astro";
import type {Image} from "@lib/types";
// ToDo: paginate posts
const posts = await getPosts()

type ImageData = { id: number, image: Image } | null
const imagesAndPosts: ImageData[] = await Promise.all(posts.map(async (post) => {
    console.log(post)
    if (!post.featuredImage?.sizes.thumbnail) {
        return null;
    }
    const image = await imagePathToUrl({
        path: post.featuredImage.sizes.thumbnail.url,
        alt: post.featuredImage.alt,
        height: post.featuredImage.sizes.thumbnail.height,
        width: post.featuredImage.sizes.thumbnail.width
    })
    return {id: post.id, image}
}))
console.log(imagesAndPosts)
const imagesByPostId = imagesAndPosts.reduce((acc, curr) => {
    if (curr) {
        acc.set(curr.id, curr)
    }
    return acc
}, new Map() as Map<number, ImageData>)
console.log(imagesByPostId)
// ToDo: split posts into first 2 and rest
---

<Layout>
  <div class="px-10 mt-12 bounded">
    <div class="grid grid-cols-10 gap-4">
      <div class="col-span-10 md:col-span-6 gap-2 flex flex-col">
        <div class="flex items-end border-b-2 border-gray-700 pb-0 mb-4 border-spacing-0 outline-offset-0">
          <span
              class="bg-gray-700 max-h-full pt-2 p-1 px-2 text-white font-normal uppercase max-w-full">Latest Interviews</span>
        </div>
          {
              posts.map((post: Post, i: number) => (
                  <a href={postToPath(post)} class="flex flex-col gap-4 md:flex-row h-auto">
                    <MediaImage image={imagesByPostId.get(post.id)?.image} class="max-w-full md:max-w-2/3"/>
                    <div class="flex-1 overflow-hidden">
                      <h3 class="size-override text-[1.6em] md:text-[1.8em] lg:text-[2.5em] break-words">{post.title}</h3>
                      <p class="text-sm mt-1 mb-0">{post.excerpt}</p>
                      {post.author && <p class="text-sm mt-0">{post.author?.name}</p>}

                    </div>
                  </a>
              ))
          }
      </div>
      <div class="col-span-10 md:col-span-4 flex flex-col gap-2">
        <div class="grid md:grid-cols-2 gap-2">
            {
                posts.map((post: Post, i: number) => (
                    <a href={postToPath(post)} class="flex flex-col gap-3">
                      <MediaImage image={imagesByPostId.get(post.id)?.image} class="max-w-full" />
                      <h4 class="break-words">{post.title}</h4>
                      <p class="text-sm mt-1">{post.excerpt}</p>
                      {post.author && <p class="text-sm mt-1">{post.author?.name}</p>}

                    </a>
                ))
            }
        </div>
      </div>
    </div>
  </div>
</Layout>