---
import Layout from '../layouts/Layout.astro';
import { getThubmnailAndAuthorImages} from "@lib/mediaUtils";
import {getPosts, postToPath, getPostsWithTags} from "@lib/postUtils";
import type {Post} from "@root/payload-types";
import MediaImage from "@components/MediaImage.astro";
import Footer from "@components/Footer.astro";

const posts = await getPosts(6)
const firstTwoPosts = posts.slice(0, 2)
const restPosts = posts.slice(2)
const agencyLifePosts = await getPostsWithTags(['agencies', 'agency'], 20)
const bestOfNWBPosts = await getPostsWithTags(['best-of-nwb'], 20)
const careerDecisionsPosts = await getPostsWithTags(['career', 'career-decisions'], 7)

const {imagesByAuthorId, imagesByPostId} = await getThubmnailAndAuthorImages([
    ...posts,
    ...agencyLifePosts,
    ...bestOfNWBPosts,
    ...careerDecisionsPosts
])
// ToDo: split posts into first 2 and rest
---

<Layout title="Home">
  <div class="px-10 mt-12 bounded">
    <div class="grid grid-cols-10 gap-4 md:gap-12">
      <div class="col-span-10 md:col-span-6 gap-6 flex flex-col">
        <div class="flex items-end border-b-2 border-gray-700 pb-0 mb-4 border-spacing-0 outline-offset-0">
          <span
              class="bg-gray-700 max-h-full p-1 px-2 text-white font-normal uppercase max-w-full">Latest Interviews</span>
        </div>
          {
              firstTwoPosts.map((post: Post, i: number) => (
                  <a href={postToPath(post)} class="flex flex-col gap-4 md:flex-row h-auto align-middle">
                    <MediaImage image={imagesByPostId.get(post.id)?.image} class="max-w-full md:max-w-2/3"/>
                    <div class="flex flex-col flex-1 overflow-hidden justify-center">
                      <h3 class="size-override text-[1.6em] md:text-[1.8em] lg:text-[2.5em] break-words">{post.title}</h3>
                      <p class="text-sm mt-1 mb-0">{post.excerpt}</p>
                        {post.author &&
                            <p class="text-sm mt-1 font-bold">
                              <MediaImage class="inline-block rounded-full mr-2"
                                          image={imagesByAuthorId.get(post.author.id)?.image}
                                          style={{width: '20px', height: '20px'}}/>
                                {post.author?.name}</p>}
                    </div>
                  </a>
              ))
          }
      </div>
      <div class="col-span-10 md:col-span-4 flex flex-col md:pt-18">
        <div class="grid grid-cols-2 gap-4">
            {
                restPosts.map((post: Post, i: number) => (
                    <a href={postToPath(post)} class="flex flex-col col-span-2 md:col-span-1 gap-3 mb-6">
                      <MediaImage image={imagesByPostId.get(post.id)?.image} class="max-w-full"/>
                      <h4 class="break-words">{post.title}</h4>
                      <p class="text-sm mt-1">{post.excerpt}</p>
                        {post.author &&
                            <p class="text-sm mt-1 font-bold">
                              <MediaImage class="inline-block rounded-full mr-2"
                                          image={imagesByAuthorId.get(post.author.id)?.image}
                                          style={{width: '20px', height: '20px'}}/>
                                {post.author?.name}</p>}
                    </a>
                ))
            }
          <div class="col-span-2 text-center mt-4">
            <a href="/interviews" class="chivo-heading text-lg uppercase bg-black text-white px-3 py-2">See More</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="px-10 mt-12 bounded">
    <div class="grid grid-cols-1 md:grid-cols-4  gap-4">
      <div class="flex items-end border-b-2 border-gray-700 pb-0 mb-4 border-spacing-0 outline-offset-0 md:col-span-4">
          <span
              class="bg-gray-700 max-h-full p-1 px-2 text-white font-normal max-w-full">Best of NWB</span>
      </div>
        {
            bestOfNWBPosts.map((post: Post, i: number) => (
                <a href={postToPath(post)} class="flex flex-col gap-3">
                  <MediaImage image={imagesByPostId.get(post.id)?.image} class="max-w-full"/>
                    {post.author &&
                        <p class="text-sm mt-1 font-bold">
                          <MediaImage class="inline-block rounded-full mr-2"
                                      image={imagesByAuthorId.get(post.author.id)?.image}
                                      style={{width: '20px', height: '20px'}}/>
                            {post.author?.name}</p>}
                  <h4 class="break-words">{post.title}</h4>
                  <p class="text-sm mt-1">{post.excerpt}</p>

                </a>
            ))
        }
    </div>
  </div>
  <div hidden={agencyLifePosts.length == 0} class="px-10 py-10 my-8 bounded bg-black">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-12">
      <div class="flex items-end mt-2 border-spacing-0 md:col-span-3">
        <h3 class="max-h-full size-override text-white text-[2.6em] uppercase">Agency Life</h3>
      </div>
        {
            agencyLifePosts.map((post: Post, i: number) => (
                <a href={postToPath(post)} class="flex flex-col md:flex-row h-auto gap-4">
                  <MediaImage class="flex-1 md:max-w-1/2 max-w-full justify-center"
                              image={imagesByPostId.get(post.id)?.image}
                              style={{height: 'fit-content'}}/>
                  <div class="flex flex-col flex-1 overflow-hidden justify-start text-white">
                    <h3 class="size-override text-[1.6em] break-words">{post.title}</h3>
                      {post.author &&
                          <p class="text-sm mt-1 font-bold">
                            <MediaImage class="inline-block rounded-full mr-2"
                                        image={imagesByAuthorId.get(post.author.id)?.image}
                                        style={{width: '20px', height: '20px'}}/>
                              {post.author?.name}</p>}
                    <p class="text-sm mt-1 mb-0">{post.excerpt}</p>
                  </div>
                </a>
            ))
        }
    </div>
  </div>

  <div hidden={careerDecisionsPosts.length == 0} class="px-10 my-12 mb-18 bounded bg-white">
    <div class="grid grid-cols-1 md:grid-cols-10 gap-1">
      <div class="flex items-end my-8 border-spacing-0 md:col-span-10 justify-center">
        <h3 class="max-h-full size-override text-white text-[1.8em] uppercase bg-black px-4 py-2">
          <span class="">Career decisions</span>
        </h3>
      </div>
        {
            careerDecisionsPosts.map((post: Post, i: number) => (
                <a href={postToPath(post)}
                   class="relative flex flex-col aspect-4/2 text-white"
                   class:list={[{'md:col-span-5': i < 2}, {'md:col-span-2': i >= 2}]}
                >
                  <img src={imagesByPostId.get(post.id)?.image.src} alt="Background image"
                       class="absolute inset-0 h-full w-full object-cover z-10"/>
                  <div class="relative bg-black/50 hover:bg-black/20 shadow-2xl flex flex-col items-center justify-end pb-6 px-4 z-100 h-full">
                    <h3 class="size-override break-words text-center"
                        class:list={[{'text-[1.6em]': i < 2}, {'text-[1em]': i >= 2},]}>{post.title}</h3>
                      {post.author &&
                          <p class="mt-1 font-bold" class:list={[{'text-sm': i < 2}, {'text-xs': i >= 2},]}>
                            <MediaImage class="inline-block rounded-full mr-2"
                                        image={imagesByAuthorId.get(post.author.id)?.image}
                                        style={{width: '20px', height: '20px'}}/>
                              {post.author?.name}</p>}
                  </div>
                </a>
            ))
        }
    </div>
  </div>
  <Footer />

</Layout>