---
import Layout from "@layouts/Layout.astro";
import type {Post} from "@root/payload-types";
import {getThubmnailAndAuthorImages} from "@lib/mediaUtils";
import {getPosts, postToPath} from "@lib/postUtils";
import MediaImage from "@components/MediaImage.astro";
import Footer from "../components/Footer.astro";

const posts = await getPosts(23)
const firstThreePosts = posts.slice(0, 3)
const remainingPosts = posts.slice(3)
const {imagesByAuthorId, imagesByPostId} = await getThubmnailAndAuthorImages(posts)
---
<Layout>
  <div class="bounded bg-black text-white px-12 pb-12">
    <h1 class="block text-center my-8">Interviews</h1>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-12">
        {
            firstThreePosts.map((post: Post, i: number) => (
                <a href={postToPath(post)} class="flex flex-col h-auto gap-4">
                  <MediaImage class="flex-1 max-w-full justify-center"
                              image={imagesByPostId.get(post.id)?.image}
                              style={{height: 'fit-content'}}/>
                  <div class="flex flex-col flex-1 overflow-hidden justify-start text-white">
                    <h3 class="size-override text-[1.6em] break-words">{post.title}</h3>
                      {post.author &&
                          <p class="text-sm mt-1 font-bold">
                            <MediaImage class="inline-block rounded-full mr-2"
                                        image={imagesByAuthorId.get(post.author.id)?.image}
                                        style={{width: '20px', height: '20px'}}/>
                              {post.author?.name}</p>}
                  </div>
                </a>
            ))
        }
    </div>
  </div>
  <div class="px-10 my-12 mb-18 bounded bg-white flex-grow">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-2">
        {
            remainingPosts.map((post: Post, i: number) => (
                <a href={postToPath(post)} class="flex flex-col gap-3 md:flex-row align-middle">
                    <MediaImage image={imagesByPostId.get(post.id)?.image} class="max-w-full md:max-w-1/2 h-max" />
                    <div class="flex flex-col flex-1 overflow-hidden justify-start">
                      <h3 class="size-override text-[1.6em] md:text-[1.8em] lg:text-[2.5em] break-words">{post.title}</h3>
                      <p class="text-sm mt-1 mb-0">{post.excerpt}</p>
                        {post.author &&
                            <p class="text-sm mt-1 font-bold">
                              <MediaImage class="inline-block rounded-full mr-2"
                                          image={imagesByAuthorId.get(post.author.id)?.image}
                                          style={{width: '20px', height: '20px'}}/>
                                {post.author?.name}</p>}
                    </div>
                  </a>
            ))
        }
    </div>
  </div>
  <Footer />
</Layout>